@keyframes collapseanim {
  from {
    flex: 1;
    opacity: 1;
  }
  1% {
    opacity: 0;
  }
  to {
    flex: 0.0001;
    overflow:scroll;
    opacity: 0;
  }
}

@-webkit-keyframes collapseanim {
  from {
    flex: 1;
    opacity: 1;
  }
  1% {
    opacity: 0;
  }
  to {
    flex: 0.0001;
    overflow:scroll;
    opacity: 0;
  }
}

@keyframes todownloadcolor {
  from {
    color: orange;
  }
  to {
    border-color: lightgreen;
    color: lightgreen;
  }
}
@-webkit-keyframes todownloadcolor {
  from {
    color: orange;
  }
  to {
    border-color: lightgreen;
    color: lightgreen;
  }
}
@keyframes toerrorcolor {
  from {
    border-color: lightgreen;
    color: lightgreen;
  }
  to {
    border-color: pink;
    color: pink;
  }
}
@-webkit-keyframes toerrorcolor {
  from {
    border-color: lightgreen;
    color: lightgreen;
  }
  to {
    border-color: pink;
    color: pink;
  }
}
download-button {
  flex: 1;

  display: flex;
  display: -webkit-flex;
  position: relative;
  top: 0;
  left:0;
}
div.download-btn.is-downloading {
  animation: todownloadcolor 1s;
  -webkit-animation: todownloadcolor 1s;
  border-color: lightgreen;
  color: lightgreen;
  // animation-fill-mode: forwards;
  // -webkit-animation-fill-mode: forwards;
}
div.download-btn.has-error {
  animation: toerrorcolor 1s;
  -webkit-animation: todownloadcolor 1s;
  border-color: pink;
  color: pink;
}
div.download-btn {
  flex: 1;
  display:flex;
  display:-webkit-flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 50px;
  color: orange;
  border: 1px solid orange;
  min-height: 32px;

  animation: appearanim 0.7s;
  -webkit-animation: appearanim 0.7s;

    text-align: center;

    .download-progress-overlay {
      background: orange;
      color: orange;

      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      position: absolute;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 12px;
      margin-right: 12px;
      top: 0px;
      left: 0px;
      bottom: 0px;
      overflow: hidden;
      width: 50%;
      mix-blend-mode:screen;
    }
    ion-icon {
      font-size: 24px;
    }
    ion-spinner {
      * {
        stroke: orange;
        fill: orange;
      }
      width: 28px;
      height: 28px;
    }
  // }

}
div.download-btn.invertable.is-downloading:hover {
  background-color: lightgreen;
  color: white !important;
}

div.download-btn.invertable:hover {
  color: white;
  border: 1px solid white;
  background-color: orange;
  ion-spinner {
    * {
      stroke: white;
      fill: white;
    }
  }
}


download-button.collapse {
  animation: collapseanim 0.5s ease-in;
  -webkit-animation: collapseanim 0.5s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  visibility: hidden;
}
