<ion-content class="main" padding>
	<div [class]="searchbarClass" id="searchbar-container">
		<!-- search bar -->
		<div ref="title" [class]="searchbarAuxTextClass">Youtube Downloader</div>
		<div class="searchbar-box" (click)="onSearchBarFocus()">
			<ion-icon name="search"></ion-icon>
			<input placeholder="Search for video here..." id="search-input" (blur)="onSearchBarBlur()" [(ngModel)]="searchText" (change)="onSearchTextChange()"/>
		</div>
	</div>
	<ion-spinner name="bubbles" *ngIf="isLoadingSearchResults"></ion-spinner>
	<error-message
		*ngIf="errorMessage != null"
		[message]="errorMessage"
	>
	</error-message>
	<search-result-cell *ngFor="let result of searchResults" [result]="result"></search-result-cell>
</ion-content>
